.btn-group.pull-right
  = link_to edit_user_registration_path, class: ["btn", "btn-default", "btn-xs"] do
    %span.glyphicon
    Edit Profile
  = link_to edit_user_registration_path, class: ["btn", "btn-default", "btn-xs"] do
    Edit Privacy
    %span.glyphicon

