.div.pull-right


.btn-group.pull-right
  = link_to edit_citizen_path(citizen), class: "btn btn-default btn-xs" do
    %span.glyphicon
    Edit Profile
  = link_to edit_citizen_path(citizen, anchor: "privacy"),
    class: "btn btn-default btn-xs" do
    Edit Privacy
    %span.glyphicon
  = link_to destroy_user_session_path, method: :delete, class: "btn btn-xs btn-default" do
    Sign Out
    .glyphicon.glyphicon-log-out.logout-button{title: "Sign Out"}
