%div.row
  %div.col-md-8
    %h2
      = @rep.full_name
    = @rep.title
  %div.col-md-4
    %div#approval_rating
      %h4
        Approval Rating
    %div#contact_info
      %h5
        Connect with
        = @rep.first_name
