.well.news-pulse-poll
  %center
    %h5 Do you think Mike Pence would make a good President?
    .btn.btn-default.btn-sm
      Support
    = image_tag "http://data.matchvote.com/images/2015/governors/Mike_Pence.png",
      class: "img", title: "Mike Pence"
    .btn.btn-default.btn-sm
      Oppose
