.well.news-pulse-poll
  %center
    .title
      %span PULSE POLL
    %h5
      After reading this article, how do you feel about
      = rep.full_name
    .btn.btn-default.btn-sm
      Support
    = image_tag rep.profile_image_url, class: "img", title: rep.full_name
    .btn.btn-default.btn-sm
      Oppose
