.row
  .filter_menu
    .col-md-7
      %h2 Find elected officials to follow
      %h5
        = @filter_count
        elected officials meet your search criteria.
        Add more filters to refine your search.
      .well.well-sm.filter_well
        %button.btn.btn-default
          .glyphicon.glyphicon-remove
          Federal

        %button.btn.btn-danger.pull-right
          .glyphicon.glyphicon-plus
          Add Filter
    .col-md-1
    .col-md-4.filter_search
      %input.search_field{type: "text", required: "true",
        value: "Search by name"}
      %button.btn.btn-primary.pull-right.search_btn
        %span.glyphicon.glyphicon-search
      %br
      %br
      %strong
        = select_tag "Sort", options_for_select(@sort_list),
          class: "form-control",
          id: "rep_sorter"

.row#reps_container= render "reps_list", reps: @reps
