.comment
  I honestly don't understand why Trump is alienating Democrats AND the Freedom Caucus. He literally doesn't have enough votes to pass anything without reaching out to either group. What is his endgame here? To just fight a lot and get nothing done? Seriously, I find this baffling.
  %hr
  .commentdetails
    %ul
      %li
        = image_tag "http://data.matchvote.com/images/2015/highprofile/Joe_Biden.png",
          class: "img", title: "Joe Biden"
      %li
        %strong Joe Biden
      %li from DE
      %li
        = Time.now.strftime("%m/%d/%y")
        @
        = Time.now.strftime("%l:%M%p")
      %li &nbsp
      %li
        .btn.btn-xs.btn-default
          Report
        .btn.btn-xs.btn-default
          .glyphicon.glyphicon-heart
        .btn.btn-xs.btn-black
          Close Reply
    .writereply
      .row
        .col-md-10
          .form-group
            %textarea.form-control
              :preserve
                Reply to Joe Biden
        .col-md-2
          %center
            .btn.btn-sm.btn-primary
              Submit
