.container
  .col-md-9
    %br
    .newscard
      .row
        .btn-group-vertical.news-vote-btn.pull-right
          .btn.btn-md.glyphicon.glyphicon-circle-arrow-up{title:"Upvote"}
          .news-vote-count 1582
          .btn.btn-md.glyphicon.glyphicon-circle-arrow-down{title:"Downvote"}
        .news-title
          %h3 Trump Issues Threat to Conservative House Faction
          .news-author
            By Glenn Thrush at The New York Times
            %span.news-date 3/30/2017 @ 9:27am
          %hr
        .news-summary
          .col-md-7
            .well
              %ul
                %li President Trump took to Twitter to say that the Freedom Caucus, a group of the most conservative Republicans in the House, is hurting the party’s agenda.
                %li “We must fight them” in 2018, he said, days after the faction helped kill his health care overhaul, imperiling Mr. Trump’s other priorities.
                %li Over the past few days, Mr. Trump has lurched between battering and buttering up conservatives who killed his health care overhaul in an agenda-scuttling insurrection that imperils his plans for tax reform and a trillion-dollar infrastructure package.
            %center
              .btn.btn-xs.btn-danger
                6 min Read
              .btn.btn-xs.btn-default
                1,427 Comments
              .btn.btn-xs.btn-default
                .glyphicon.glyphicon-share{title:"Share"}
              .btn.btn-xs.btn-default
                .glyphicon.glyphicon-bookmark{title:"Bookmark Article"}
          .col-md-5
            .news-mentions
              %center
                %h5 Based on this news, what do you think of Donald Trump?
                .btn.btn-default.btn-sm
                  Support
                = image_tag "http://data.matchvote.com/images/2015/highprofile/Donald_Trump.png",
                  class: "img", title: "Donald Trump"
                .btn.btn-default.btn-sm
                  Oppose
              %hr
            .news-topics
              %ul
                %li
                  %a Healthcare
                %li
                  %a Budget
                %li
                  %a Executive Branch
  .col-md-3.hidden-sm
    .news-sidebar
      .news-filter
        %center
          %h4
            Top News for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize
            = Time.now.year
        %select.form-control.signup-field
          %option Show All News
          %option Show News for Followed Reps
        %select.form-control.signup-field
          %option Sort News by Highest Rank
          %option Sort News by Newest
          %option Sort News by Comment Count
      .news-widget
        .glyphicon.glyphicon-calendar
        %strong &nbsp Browse Older News
      .news-widget
        .glyphicon.glyphicon-bullhorn
        %strong &nbsp Filter by Publisher
      .news-widget
        .glyphicon.glyphicon-bookmark
        %strong &nbsp Bookmarked Articles
