.container
  .col-md-9
    %br
    .newscard
      .row
        .btn.btn-default.btn-xs.glyphicon.glyphicon-bookmark.pull-right{title:"Bookmark Article"}
        .btn-group-vertical.vote-btns.pull-left
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-up{title:"Upvote"}
          .news-vote-count 1582
          .btn.btn-lg.glyphicon.glyphicon-circle-arrow-down{title:"Downvote"}
        .news-title
          %h2 More U.S. adults describe themselves as "pro-choice" than "pro-life" for the first time in seven years, according to a new Gallup poll.
          .news-author
            By Peter Sullivan at The Hill
            %span.pull-right 5/29/2015 @ 9:27am
          %hr
          .news-summary
            .col-md-8
              %h5 OVERVIEW
              %ul
                %li The poll finds that 50 percent support abortion rights and 44 percent oppose them.
                %li House Republicans were forced to pull a 20-week abortion ban earlier this year over concerns from some women Republican lawmakers about a requirement that rape be reported to the police to qualify for the ban’s exemption.
                %li Twenty-nine percent of adults say abortion should be legal in all circumstances, and 19 percent in no circumstances.
            .col-md-4
              %center
                .row
                  .btn.btn-primary.btn-xs
                    Read Article
                  .btn.btn-danger.btn-xs
                    237 Comments
                .news-mentions
                  %h5 MENTIONS
                  = render "devise/sessions/landingpics"

    .whitecard
    .whitecard
    .whitecard
    .whitecard
  .col-md-3
    .news-sidebar
      .news-filter
        %center
          %h4
            Top News for
            = Date.today.strftime("%B")
            = Time.now.day.ordinalize
            = Time.now.year
        %select.form-control.signup-field
          %option Show News for Followed Reps
          %option Show All News
        %select.form-control.signup-field
          %option Sort News by Highest Rank
          %option Sort News by Recently Published
          %option Sort News by Comment Count
      .news-widget
        .glyphicon.glyphicon-calendar
        %strong &nbsp Browse Older News
      .news-widget
        .glyphicon.glyphicon-signal
        %strong &nbsp Trending Forum Discussions
      .news-widget
        .glyphicon.glyphicon-user
        %strong &nbsp Representatives to Follow
      .news-widget
        .glyphicon.glyphicon-bullhorn
        %strong &nbsp Upcoming Townhalls
      .news-widget
        .glyphicon.glyphicon-bookmark
        %strong &nbsp Bookmarked Articles
