= image_tag "http://data.matchvote.com/images/2015/highprofile/Jeb_Bush.png", class: "election_pic_lg"
Jeb Bush
= image_tag "http://data.matchvote.com/images/2015/highprofile/Hillary_Clinton.png", class: "election_pic_lg"
Hillary Clinton
= image_tag "http://data.matchvote.com/images/2015/senators/Bernard_Sanders.png", class: "election_pic_lg"
Bernie Sanders
= image_tag "http://data.matchvote.com/images/2015/senators/Marco_Rubio.png", class: "election_pic_lg"
Marco Rubio
