.container
  .row
    .visible-sm-block.visible-xs-block
      .row
        .mobileoped
          %ul
            %li
              = image_tag "http://data.matchvote.com/images/2015/highprofile/Al_Gore.png",
                class: "author-pic", title: "Al Gore"
            %li
              %strong Al Gore
            %li
              .btn.btn-sm.btn-primary
                .glyphicon.glyphicon-ok-circle
                Follow
            %li
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-heart
                172
            %li
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-comment
                215
            %li
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-share
                Share
            %li
              .btn.btn-sm.btn-default
                .glyphicon.glyphicon-bookmark
                Bookmark
    .col-md-3.hidden-sm
      .oped-sidebar
        = image_tag "http://data.matchvote.com/images/2015/highprofile/Al_Gore.png",
          class: "author-pic", title: "Al Gore"
        %br
        %h4 Al Gore
        %span Father, Husband, Activist, Author, Environmentalist & Vice President - not necessarily in that order.
        .opedactions
          .btn.btn-sm.btn-primary.btn-block
            .glyphicon.glyphicon-ok-circle
            Follow
          %hr
          .btn.btn-sm.btn-default.btn-block
            .glyphicon.glyphicon-comment
            215 Comments
          %br
          .btn.btn-xs.btn-default
            .glyphicon.glyphicon-heart
            172
          .btn.btn-xs.btn-default
            .glyphicon.glyphicon-share
            Share
          .btn.btn-xs.btn-default.bookmark
            .glyphicon.glyphicon-bookmark
            Bookmark
    .col-md-9
      .opedcard.fade-in
        = render "opedexample"
