= button_tag "Update Stance",
  class: "btn btn-info btn-block",
  data: { stance_id: stance.id }
= button_tag "Clear Stance",
  class: "btn btn-default btn-xs btn-block",
  data: { stance_id: stance.id }
