= button_tag "Update Stance",
  class: "btn btn-info btn-block update_btn",
  data: { stance_id: stance.id }
%br
= button_tag "Clear Stance",
  class: "btn btn-default btn-xs btn-block delete_btn",
  data: { stance_id: stance.id }

