.row
  .stances_menu
    .col-md-7
      %h3 Where do you stand on the following issues?
      %p Please indicate where you fall on the statements below. Also, tell us how important it is for elected officials to agree with you on each topic. We'll need at least 10 stances to accurately find your matches.
    .col-md-1
    .col-md-4
  %span.pull-right
    =link_to "#" do
      %span.skip Skip to Directory


.row
  %h2 Environment
  .col-md-10
    .stancecard
      .row
        .col-md-6
          %h4 I believe that climate change is a real phenomenon and is caused, at least in part, by human activity and fossil fuel use.
        .col-md-3
          %strong Your Stance
          = select_tag "Agreeance", "<option>Very Strongly Disagree</option><option>Strongly Disagree</option><option>Disagree</option><option selected=&#34;selected&#34;>Neutral</option><option>Agree</option><option>Strongly Agree</option><option>Very Strongly Agree</option>".html_safe, multiple: false, class: "form-control"
        .col-md-3
          %strong Alignment Importance
          = select_tag "Importance", "<option>Not Very Important</option><option>Somewhat Important</option><option selected=&#34;selected&#34;>Important</option><option>Very Important</option><option>Extremely Important</option>".html_safe, multiple: false, class: "form-control"
          =link_to "#" do
            %span.stancehelp.pull-right What is this?
  .col-md-2.submitarea
    %button.btn.btn-primary.btn-block Save Stance
