.row
  .stances_menu
    .col-md-8
      %h3 Where do you stand on the following issues?
      %h5 For each of the statements below, please answer in two parts:
      %ul
        %li Whether or not you agree with the statement.
        %li How important it is for elected officials to align with your stance.
    .col-md-4
  %span.pull-right
    =link_to "#" do
      %span.skip Skip to Directory

- @categories.each do |issue|
  .row
    %h2= issue.name.humanize
    - issue.statements.each do |statement|
      = render "statement", 
        statement: statement, 
        agreeance_values: @agreeance_values,
        importance_values: @importance_values


