.row
  %center
    %h3 Where do you stand on the following issues?

.row.stances-index
  #stances_index
    .col-md-2
    .col-md-9
      - @categories.each do |issue|
        .row
          %h2= issue.name.titleize
          - issue.statements.each do |statement|
            .statement{data: { statement_id: statement.id }}
              = render "statement",
                statement: statement,
                stance: statement.find_stance_for_user(current_user) || Stance.new
    .col-md-1
