/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-toggle.min
 *= require bootstrap-datepicker3.min
 *= require jasny-bootstrap.min
 *= require sweetalert
 *= require social-share-button
 *= require_self
 */

@import bootstrap-sprockets
@import bootstrap

//Menu
.navbar-fixed-top
  background-color: #fff !important
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1)
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1)
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.1)
.navdrop
  margin-left: 15px
  a span
    color: #ccc
.navdrop-text
  font-size: 14px
  font-weight: 600
  position: relative
  left: -2px
.dropchevron
  position: relative
  top: 2px
.navdrop li
  background: -webkit-linear-gradient(#fff, #efefef)
  background: -o-linear-gradient(#fff, #efefef)
  background: -moz-linear-gradient(#fff, #efefef)
  background: linear-gradient(#fff, #efefef)
  display: block
  position: relative
  top: 1px
  float: left
.navdrop ul
  margin: 0
  padding: 0
  list-style: none
  a
    text-decoration: none

.navdrop li ul
  display: none

.navdrop ul li a
  display: block
  text-decoration: none
  color: #333
  padding: 6px 30px 7px 20px
  background: #fff
  white-space: nowrap
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3)
  -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3)
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.3)
  &:hover
    background: #ddd

.navdrop li:hover
  ul
    display: block
    position: absolute
  li
    float: none
    font-size: 14px
  a
    background: #fff
  li a:hover
    background: #ddd

.comingsoon
  color: #ccc!important
  background-color: #eee!important

.mvlogo
  padding-top: 7px
  &:hover
    -webkit-filter: brightness(1.1)

.menu-notify-on
  position: relative
  top: 7px
  width: 20px
  height: 20px
  border-radius: 10px
  padding: 3px 1px 3px 3px
  background: -webkit-linear-gradient(#ffd700, #DAA520)
  background: -o-linear-gradient(#ffd700, #DAA520)
  background: -moz-linear-gradient(#ffd700, #DAA520)
  background: linear-gradient(#ffd700, #DAA520)
  color: #333
  &:hover
    cursor: pointer
    -webkit-filter: brightness(1.1)

.menu-notify-off
  position: relative
  top: 7px
  width: 20px
  height: 20px
  border-radius: 10px
  padding: 3px 1px 3px 3px
  background: -webkit-linear-gradient(#ccc, #ddd)
  background: -o-linear-gradient(#ccc, #ddd)
  background: -moz-linear-gradient(#ccc, #ddd)
  background: linear-gradient(#ccc, #ddd)
  -webkit-filter: opacity(0.2)
  &:hover
    cursor: pointer
    -webkit-filter: opacity(0.4)

.navbar_pic
  border-radius: 18px
  height: 36px
  width: 36px
  margin: 7px 5px 0 0
  -webkit-transition: .5s ease-out
  -webkit-filter: grayscale(0)
  &:hover
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    position: relative
    top: -1px
    -webkit-filter: brightness(1.1)
    cursor: pointer

.comment_pic
  border-radius: 9px
  height: 18px
  width: 18px
  -webkit-transition: .5s ease-out
  -webkit-filter: grayscale(0)
  &:hover
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3)
    position: relative
    top: -1px
    -webkit-filter: brightness(1.1)
    cursor: pointer

.logout-button
  margin: 0 20px 0 10px
  position: relative
  top: 7px


// Landing
.landing-background
  background-color: #eee
.landingcard
  background-color: #fff
  border-radius: 6px
  padding: 40px
  margin-top: 10px
  margin-bottom: 30px
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)
  -moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)
  h1
    color: #444
    font-weight: 600
    letter-spacing: -1px
  h4
    color: #aaa
.landing_pic
  border-radius: 25px
  height: 50px
  width: 50px
  margin: 2px
  -webkit-transition: .1s ease-out
  &:hover
    -webkit-transform: scale(1.05)
.landing_text
  font-size: 16px
  text-align: center
.landing_links
  margin-top: 40px
  a
    font-size: 14px
    color: #aaa
    text-decoration: none
.logincard
  width: 100%
  background-color: #333
  border-radius: 6px
  border: 1px solid #499bea
  padding: 20px 40px 70px 40px
  margin-top: 30px
  color: #fff
.loginfield
  margin-bottom: 10px

//SignUp & Edit Profile

.signupmargin
  padding: 0 15% 0 15%

.signinbutton
  margin-bottom: 10px!important

.signup-field
  margin: 5px 0 5px 0

.edit_pic
  border-radius: 50px
  height: 100px
  width: 100px
  margin: 0 0 10px 5px
  &:hover
    -webkit-transition: .3s ease-out
    -webkit-filter: opacity(.3)
    cursor: pointer

// Main App

body
  padding-top: 50px
  background-color: #eee
  font-size: 14px

.footer-links
  color: #aaa
  margin-bottom: 20px
  li
    list-style: none
    display: inline
    margin-left: 20px
  a
    color: #aaa

.copyright
  margin-right: 50px

.madein
  float: right
  font-size: 10px
  img
    width: 20px
    height: 20px



.faded
  -webkit-filter: opacity(.25)

@-webkit-keyframes fadeIn
  from
    opacity: 0
    top: 10px
    filter: blur(10px)
  to
    opacity: 1
    top: 0px
    filter: blur(0px)


@-moz-keyframes fadeIn
  from
    opacity: 0
    top: 10px
    filter: blur(10px)
  to
    opacity: 1
    top: 0px
    filter: blur(0px)


@keyframes fadeIn
  from
    opacity: 0
    top: 10px
    filter: blur(10px)
  to
    opacity: 1
    top: 0px
    filter: blur(0px)

.fade-in
  opacity: fadeIn 0
  position: relative
  -webkit-animation: fadeIn ease-out .5s
  -moz-animation: fadeIn ease-out .5s
  animation: fadeIn ease-out .5s
  -webkit-animation-fill-mode: forwards
  -moz-animation-fill-mode: forwards
  animation-fill-mode: forwards
  -webkit-animation-duration: .5s
  -moz-animation-duration: .5s
  animation-duration: .5s



//Bootstrap Modifications
.btn
  border-radius: 20px
  box-shadow: 0 3px 5px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08)
  margin: 0 2px 0 2px

.btn-link
  border-radius: 0px
  box-shadow: 0px 0px 0px
  margin: 0px

.btn:focus, .btn:active:focus, .btn.active:focus,
.btn.focus, .btn:active.focus, .btn.active.focus
  outline: none

.btn-sm
  padding: 7px 11px 6px 11px

.btn-xs
  padding: 4px 8px 3px 8px

.btn-info
  background: -webkit-linear-gradient(#888, #666)
  background: -o-linear-gradient(#888, #666)
  background: -moz-linear-gradient(#888, #666)
  background: linear-gradient(#888, #666)
  border: none
  &:hover
    background: #555

.btn-primary, .btn-danger, .btn-info, .btn-black, .btn-success
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5)

.btn-danger
  background: -webkit-linear-gradient(#dd4e4c, #b03e3c)
  background: -o-linear-gradient(#dd4e4c, #b03e3c)
  background: -moz-linear-gradient(#dd4e4c, #b03e3c)
  background: linear-gradient(#dd4e4c, #b03e3c)
  border: 0px
  &:hover
    background: #dd4e4c

.btn-default
  border: 0px
  &:hover
    background: #f9f9f9
    box-shadow: 0 4px 6px rgba(50,50,93,.22), 0 1px 3px rgba(0,0,0,.08)

.btn-primary
  background: #499bea
  background: -webkit-linear-gradient(#499bea, #207ce5)
  background: -o-linear-gradient(#499bea, #207ce5)
  background: -moz-linear-gradient(#499bea, #207ce5)
  background: linear-gradient(#499bea, #207ce5)
  border: 0px
  &:hover
    background: #499bea

.btn-black
  color: #fff
  background: #444
  padding: 4px 8px 4px 8px
  border: 3px solid #499bea
  &:hover
    color: #fff
    background: #499bea
