// Place all the styles related to the lobby controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Filter Styling

.filter_menu
  min-height: 150px
  background: #666
  padding: 0px 50px 10px 50px
  color: #fff
  z-index: 2
  width: 100%
  position: fixed
  top: 50px
  left: 0px
  h3
    text-shadow: 1px 1px 2px rgba(0,0,0,.5)

.filter_well
  background: #737373
  background: -moz-linear-gradient(top,  #737373 0%, #666666 100%) !important
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#737373), color-stop(100%,#666666)) !important
  background: -webkit-linear-gradient(top,  #737373 0%,#666666 100%) !important
  background: -o-linear-gradient(top,  #737373 0%,#666666 100%) !important
  background: -ms-linear-gradient(top,  #737373 0%,#666666 100%) !important
  background: linear-gradient(to bottom,  #737373 0%,#666666 100%) !important
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15) !important
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15) !important
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.15) !important
  border: 0px !important

.filter_search
  margin-top: 30px

.search_field
  width: 100%
  height: 31px
  padding-left: 10px
  margin-right: 10px
  border-radius: 4px
  border: 0px
  color: black

// Directory Styling

#reps_container
  text-align: center
  margin: 230px auto
  @media (max-width: 992px)
    margin-top: 320px

.directory_block
  width: 205px
  height: auto
  min-height: 200px
  height: auto
  padding-bottom: 20px
  margin: 0px 10px 50px 10px
  float: left
  background-color: rgba(255,255,255,0.75)
  border-radius: 7px
  text-align: center
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  &:hover
    background-color: #fff !important
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4)
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4)
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4)
    .directory_pic
      top: -31px
      -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15)
      -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15)
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.15)
      -webkit-filter: brightness(1.05)
  @media (max-width: 992px)
    width: 220px
    min-height: 250px
    margin: 0px 10px 80px 10px
    h4
      font-size: 1.5em


.directory_pic
  width: 100px
  height: 100px
  border-radius: 50px
  position: relative
  top: -30px
  margin-bottom: -30px
  &:hover
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3) !important
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3) !important
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.3) !important
    -webkit-filter: brightness(1.15) !important
  @media (max-width: 992px)
    width: 150px
    min-height: 150px
    border-radius: 75px

.directory_block_btns
  margin-top: 10px

.verified
  &:hover
    -webkit-filter: brightness(1.2)
