// Place all the styles related to the lobby controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.directory_block
  width: 200px
  height: 200px
  margin: 10px 20px 40px 10px
  float: left
  background-color: #fff
  border-radius: 4px
  text-align: center
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)

.directory_pic
  width: 100px
  height: 100px
  position: relative
  top: -30px
  margin-bottom: -20px

.filter_menu
  min-height: 100px
  background-color: #999
  margin-bottom: 50px
  padding: 10px 10px 20px 10px
