// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile_main
  background-color: #fff
  border-radius: 4px
  padding-left: 30px
  margin-top: 40px
  min-height: 500px
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)


.profile_pic
  width: 150px
  height: 150px
  position: relative
  top: -30px
  margin-bottom: -30px

.profile_name
  position: relative
  top: -100px
  left: 170px

.approval_widget
  text-align: center

.contact_widget
  text-align: center

.donor_widget
  text-align: center
