// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whitecard
  background-color: #fff
  border-radius: 6px
  padding: 15px 30px 30px 30px
  margin-top: 10px
  margin-bottom: 30px
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)
  -moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)
  box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.1)

.profile_breadcrumbs
  padding-top: 15px
  font-size: 11px
  color: #aaa
  a
    color: #aaa
  a:hover
    text-decoration: none
    color: #333

.profile_pic
  float: left
  text-align: right
  padding: 0px
  height: 150px
  width: 150px
  border-radius: 75px

.profile_name
  padding-top: 10px
  padding-left: 170px

.profile_bio
  font-family: Georgia
  font-size: 15px
  line-height: 24px
  color: #999
  padding-top: 30px

//.profile_tweet
  background-color: #fff
  border-radius: 2px
  padding: 30px
  margin-top: -20px
  h3
    color: #fff
  &:hover
    background: #1dcaff

.twitterbird
  height: 30px
  width: 30px

.bio_btn
  margin-left: 25px
  font-family: Helvetica

.widget
  text-align: center

.first_widget
  text-align: center
  margin-top: 40px

#contact_button a
  text-decoration: none
