// Place all the styles related to the stances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stances_menu
  min-height: 150px
  background: #fff
  border: 2px solid #f3f3f3
  padding: 5px 10px 20px 20px
  margin-bottom: 40px
  border-radius: 0px 0px 5px 5px
  color: #000
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15)
  -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15)
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15)
  h5
    padding-left: 20px
    line-height: 140%

.stance_card
  background-color: #fff
  border-radius: 4px
  padding: 20px 30px 20px 30px
  margin-top: 10px
  margin-bottom: 20px
  min-height: 100px
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25)
  strong
    color: #999

.save_btn, .update_btn
  margin-top: 40px

.edit_stance_button .update_btn
  margin-top: 19px

.stances_index
  padding-left: 130px

