%h3 The Turning Point: New Hope for the Climate
%span Published on July 23, 2017
%hr
%p
  In the struggle to solve the climate crisis, a powerful, largely unnoticed shift is taking place. The forward journey for human civilization will be difficult and dangerous, but it is now clear that we will ultimately prevail. The only question is how quickly we can accelerate and complete the transition to a low-carbon civilization. There will be many times in the decades ahead when we will have to take care to guard against despair, lest it become another form of denial, paralyzing action. It is true that we have waited too long to avoid some serious damage to the planetary ecosystem – some of it, unfortunately, irreversible. Yet the truly catastrophic damages that have the potential for ending civilization as we know it can still – almost certainly – be avoided. Moreover, the pace of the changes already set in motion can still be moderated significantly.
  %br
  %br
  %strong Global Warming's Terrifying New Math
  %br
  %br
  There is surprising – even shocking – good news: Our ability to convert sunshine into usable energy has become much cheaper far more rapidly than anyone had predicted. The cost of electricity from photovoltaic, or PV, solar cells is now equal to or less than the cost of electricity from other sources powering electric grids in at least 79 countries. By 2020 – as the scale of deployments grows and the costs continue to decline – more than 80 percent of the world's people will live in regions where solar will be competitive with electricity from other sources.
  %br
  %br
  No matter what the large carbon polluters and their ideological allies say or do, in markets there is a huge difference between "more expensive than" and "cheaper than." Not unlike the difference between 32 degrees and 33 degrees Fahrenheit. It's not just a difference of a degree, it's the difference between a market that's frozen up and one that's liquid. As a result, all over the world, the executives of companies selling electricity generated from the burning of carbon-based fuels (primarily from coal) are openly discussing their growing fears of a "utility death spiral."
  %br
  %br
  Germany, Europe's industrial powerhouse, where renewable subsidies have been especially high, now generates 37 percent of its daily electricity from wind and solar; and analysts predict that number will rise to 50 percent by 2020. (Indeed, one day this year, renewables created 74 percent of the nation's electricity!)
  %br
  %br
  %strong Scorched Earth: How Climate Change Is Spreading Drought Throughout the Globe
  %br
  %br
  What's more, Germany's two largest coal-burning utilities have lost 56 percent of their value over the past four years, and the losses have continued into the first half of 2014. And it's not just Germany. Last year, the top 20 utilities throughout Europe reported losing half of their value since 2008. According to the Swiss bank UBS, nine out of 10 European coal and gas plants are now losing money.
  %br
  %br
  In the United States, where up to 49 percent of the new generating capacity came from renewables in 2012, 166 coal-fired electricity-generating plants have either closed or have announced they are closing in the past four and a half years. An additional 183 proposed new coal plants have been canceled since 2005.
  %br
  %br
  To be sure, some of these closings have been due to the substitution of gas for coal, but the transition under way in both the American and global energy markets is far more significant than one fossil fuel replacing another. We are witnessing the beginning of a massive shift to a new energy-distribution model – from the "central station" utility-grid model that goes back to the 1880s to a "widely distributed" model with rooftop solar cells, on-site and grid battery storage, and microgrids.
  %br
  %br
  The principal trade group representing U.S. electric utilities, the Edison Electric Institute, has identified distributed generation as the "largest near-term threat to the utility model." Last May, Barclays downgraded the entirety of the U.S. electric sector, warning that "a confluence of declining cost trends in distributed solar­photovoltaic-power generation and residential­scale power storage is likely to disrupt the status quo" and make utility investments less attractive.
