%header
  %nav.navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        %ul.nav.navbar-nav
          = link_to root_path do
            = image_tag "http://matchvote.com/wp-content/uploads/2015/01/mv.png",
              class: "mvlogo"
