= link_to image_tag("http://data.matchvote.com/images/2015/highprofile/Barack_Obama.png",
  class: "navbar_pic", 
  title: "@#{current_user.username}", 
  id: "view_profile_link"),
  path_for_user(current_user)

