#profile_pic_upload
  .fileinput.fileinput-new{data: { provides: "fileinput" }}
    .fileinput-preview{data: { trigger: "fileinput" }}
      = image_tag user.profile_pic_url, class: "edit_pic", id: "profile_pic_preview"
    .row
      .col-md-6
        %span.btn.btn-default.btn-file
          %span.fileinput-new Select image
          %span.fileinput-exists Change
          = file_field_tag :profile_pic
      .col-md-6
        = link_to "Remove", "#", 
          class: "btn btn-default fileinput-exists",
          id: "reset_profile_pic",
          data: { dismiss: "fileinput" }

